<div class="sidebar-panel">
  <h2>{% include "icons/log-in.svg" %} {{ "auth-login-heading"|t }}</h2>
  <form data-on:submit__prevent="@post('/login')">
    <div class="field">
      <label for="login-email">{% include "icons/mail.svg" %} {{ "auth-email"|t }}</label>
      <input id="login-email" type="email" name="email" autocomplete="email" data-bind:email required>
    </div>
    <div class="field">
      <label for="login-password">{% include "icons/lock.svg" %} {{ "auth-password"|t }}</label>
      <input id="login-password" type="password" name="password" autocomplete="current-password" data-bind:password required>
    </div>
    <div id="form-error" class="form-error"></div>
    <button type="submit" class="primary">{% include "icons/log-in.svg" %} {{ "auth-login-heading"|t }}</button>
  </form>
  <p>{{ "auth-no-account"|t }} <a href="/register" data-on:click__prevent="@get('/register')">{{ "auth-register-heading"|t }}</a></p>
</div>
