<div class="sidebar-panel">
  <h2>{% include "icons/euro.svg" %} {{ heading }}</h2>
  <form data-on:submit__prevent="@patch('/store-product/{{ store_product_id }}')">
    <div class="field">
      <label for="sp-price">{% include "icons/euro.svg" %} {{ "store-product-form-price"|t }}</label>
      <input id="sp-price" type="number" step="0.01" min="0" name="price" data-bind:price value="{{ price }}" required>
    </div>
    <div id="form-error" class="form-error"></div>
    <div class="action-row">
      <button type="submit" class="primary">{% include "icons/circle-check.svg" %} {{ "action-save"|t }}</button>
      <button type="button" class="danger" data-on:click="@delete('/store-product/{{ store_product_id }}')">{% include "icons/trash-2.svg" %} {{ "action-delete"|t }}</button>
    </div>
  </form>
</div>
